Repository usd-cs/comp495-sp18-happy-hour, pull requests merged in 2018-04, with the labels that each got.

#63 Map + segmented control fixes
  Cheers.xcodeproj/project.pbxproj
  Cheers.xcodeproj/xcuserdata/will.xcuserdatad/xcschemes/xcschememanagement.plist
  Cheers/Controller/ListViewController.swift
  Cheers/Controller/MapViewController.swift
  Cheers/Controller/SelectedBarViewController.swift
  Cheers/Model/DatabaseRecord.swift
  Cheers/Model/SharedListsSingleton.swift
  Podfile
  Podfile.lock
  Pods/Manifest.lock
  Pods/Pods.xcodeproj/project.pbxproj
  Pods/Target Support Files/GoogleToolboxForMac/GoogleToolboxForMac.xcconfig
  Pods/Target Support Files/Pods-Cheers/Pods-Cheers-acknowledgements.markdown
  Pods/Target Support Files/Pods-Cheers/Pods-Cheers-acknowledgements.plist
  Pods/Target Support Files/Pods-Cheers/Pods-Cheers-frameworks.sh
  Pods/Target Support Files/Pods-Cheers/Pods-Cheers.debug.xcconfig
  Pods/Target Support Files/Pods-Cheers/Pods-Cheers.release.xcconfig
  Pods/Target Support Files/Pods-CheersTests/Pods-CheersTests-frameworks.sh
  Pods/Target Support Files/Pods-CheersTests/Pods-CheersTests.debug.xcconfig
  Pods/Target Support Files/Pods-CheersTests/Pods-CheersTests.release.xcconfig
  Pods/Target Support Files/Pods-CheersUITests/Pods-CheersUITests-frameworks.sh
  Pods/Target Support Files/Pods-CheersUITests/Pods-CheersUITests.debug.xcconfig
  Pods/Target Support Files/Pods-CheersUITests/Pods-CheersUITests.release.xcconfig
  Pods/Target Support Files/leveldb-library/leveldb-library.xcconfig
  Pods/Target Support Files/nanopb/nanopb.xcconfig
Labels: code refactor

#71 Resolves #40, #41, #42,
  Cheers.xcodeproj/project.pbxproj
  Cheers.xcodeproj/xcuserdata/will.xcuserdatad/xcschemes/xcschememanagement.plist
  Cheers/Assets.xcassets/back.imageset/Contents.json
  Cheers/Assets.xcassets/back.imageset/back.png
  Cheers/Assets.xcassets/favorites.imageset/Contents.json
  Cheers/Assets.xcassets/favorites.imageset/like.png
  Cheers/Assets.xcassets/favorites_selected.imageset/Contents.json
  Cheers/Assets.xcassets/favorites_selected.imageset/like (1).png
  Cheers/Assets.xcassets/list.imageset/Contents.json
  Cheers/Assets.xcassets/list.imageset/cheers (1).png
  Cheers/Assets.xcassets/list_selected.imageset/Contents.json
  Cheers/Assets.xcassets/list_selected.imageset/cheers.png
  Cheers/Assets.xcassets/live.imageset/Contents.json
  Cheers/Assets.xcassets/live.imageset/pint (1).png
  Cheers/Assets.xcassets/location_full.imageset/Contents.json
  Cheers/Assets.xcassets/location_full.imageset/placeholder (1).png
  Cheers/Assets.xcassets/location_hollow.imageset/Contents.json
  Cheers/Assets.xcassets/location_hollow.imageset/placeholder.png
  Cheers/Assets.xcassets/map.imageset/Contents.json
  Cheers/Assets.xcassets/map.imageset/worldwide.png
  Cheers/Assets.xcassets/map_selected.imageset/Contents.json
  Cheers/Assets.xcassets/map_selected.imageset/worldwide (1).png
  Cheers/Assets.xcassets/notLive.imageset/Contents.json
  Cheers/Assets.xcassets/notLive.imageset/pint.png
  Cheers/Assets.xcassets/settings.imageset/Contents.json
  Cheers/Assets.xcassets/settings.imageset/settings (1).png
  Cheers/Assets.xcassets/settings_selected.imageset/Contents.json
  Cheers/Assets.xcassets/settings_selected.imageset/settings (2).png
  Cheers/Controller/ListViewController.swift
  Cheers/Controller/MapViewController.swift
  Cheers/Model/ColorsSingleton.swift
  Cheers/Model/Place.swift
  Cheers/Model/PlaceMapAnnotationViewModel.swift
  Cheers/View/Base.lproj/Main.storyboard
  Cheers/View/PlaceMapAnnotationView.swift
  Cheers/View/PlaceMapAnnotationView.xib
  Credits Page.txt
  Podfile
  Podfile.lock
  Pods/Manifest.lock
  Pods/Pods.xcodeproj/project.pbxproj
  Pods/Target Support Files/Pods-Cheers/Pods-Cheers-acknowledgements.markdown
  Pods/Target Support Files/Pods-Cheers/Pods-Cheers-acknowledgements.plist
  Pods/Target Support Files/Pods-Cheers/Pods-Cheers-frameworks.sh
  Pods/Target Support Files/Pods-Cheers/Pods-Cheers.debug.xcconfig
  Pods/Target Support Files/Pods-Cheers/Pods-Cheers.release.xcconfig
  Pods/Target Support Files/Pods-CheersTests/Pods-CheersTests.debug.xcconfig
  Pods/Target Support Files/Pods-CheersTests/Pods-CheersTests.release.xcconfig
  Pods/Target Support Files/Pods-CheersUITests/Pods-CheersUITests.debug.xcconfig
  Pods/Target Support Files/Pods-CheersUITests/Pods-CheersUITests.release.xcconfig
Labels: code refactor, core functionality, enhancement

#84 Added 10 La Jolla happy hours
  Cheers/Controller/AppDelegate.swift
  Cheers/happyhours.txt
Labels: database

#85 Resolves #78, updates to SelectedBar UI
  Cheers.xcodeproj/xcuserdata/maevemcclatchey.xcuserdatad/xcschemes/xcschememanagement.plist
  Cheers/Assets.xcassets/icon-HeartEmpty.imageset/Contents.json
  Cheers/Assets.xcassets/icon-HeartEmpty.imageset/icon-HeartEmpty.png
  Cheers/Assets.xcassets/icon-HeartFull.imageset/Contents.json
  Cheers/Assets.xcassets/icon-HeartFull.imageset/icon-HeartFull.png
  Cheers/Controller/SelectedBarViewController.swift
  Cheers/View/Base.lproj/Main.storyboard
Labels: UI/UX

#88 Added overlay to map (using dummy number until settings page is complete)
  Cheers.xcodeproj/project.pbxproj
  Cheers/Controller/MapViewController.swift
  Podfile.lock
  Pods/Manifest.lock
  Pods/Pods.xcodeproj/project.pbxproj
  Pods/Target Support Files/GoogleToolboxForMac/GoogleToolboxForMac.xcconfig
  Pods/Target Support Files/Pods-Cheers/Pods-Cheers-frameworks.sh
  Pods/Target Support Files/Pods-Cheers/Pods-Cheers-resources.sh
  Pods/Target Support Files/Pods-Cheers/Pods-Cheers.debug.xcconfig
  Pods/Target Support Files/Pods-Cheers/Pods-Cheers.release.xcconfig
  Pods/Target Support Files/Pods-CheersTests/Pods-CheersTests-frameworks.sh
  Pods/Target Support Files/Pods-CheersTests/Pods-CheersTests-resources.sh
  Pods/Target Support Files/Pods-CheersTests/Pods-CheersTests.debug.xcconfig
  Pods/Target Support Files/Pods-CheersTests/Pods-CheersTests.release.xcconfig
  Pods/Target Support Files/Pods-CheersUITests/Pods-CheersUITests-frameworks.sh
  Pods/Target Support Files/Pods-CheersUITests/Pods-CheersUITests-resources.sh
  Pods/Target Support Files/Pods-CheersUITests/Pods-CheersUITests.debug.xcconfig
  Pods/Target Support Files/Pods-CheersUITests/Pods-CheersUITests.release.xcconfig
  Pods/Target Support Files/leveldb-library/leveldb-library.xcconfig
  Pods/Target Support Files/nanopb/nanopb.xcconfig
Labels: Map, core functionality

#89 Saving favorites to file and loading from file
  Cheers.xcodeproj/project.pbxproj
  Cheers.xcworkspace/xcuserdata/meeladdawood.xcuserdatad/UserInterfaceState.xcuserstate
  Cheers/Controller/FavoritesViewController.swift
  Cheers/Controller/Filter Classes/FilterMenu.swift
  Cheers/Controller/Filter Classes/FilterOptionCell.swift
  Cheers/Controller/ImageLoader.swift
  Cheers/Controller/ListViewController.swift
  Cheers/Controller/SelectedBarViewController.swift
  Cheers/Model/BarType.swift
  Cheers/Model/DatabaseRecord.swift
  Cheers/Model/Neighborhoods.swift
  Cheers/Model/Place.swift
  Cheers/View/Base.lproj/Main.storyboard
  Pods/Pods.xcodeproj/xcuserdata/meeladdawood.xcuserdatad/xcschemes/xcschememanagement.plist
Labels: core functionality

#90 Resolves #70, #73, #83, #87
  Cheers.xcodeproj/project.pbxproj
  Cheers/Controller/ListViewController.swift
  Cheers/Controller/MapViewController.swift
  Cheers/DowntownGaslampBars.txt
  Cheers/Model/BarType.swift
  Cheers/Model/DatabaseRecord.swift
  Cheers/Model/FilterSettingsSingleton.swift
  Cheers/Model/SharedListsSingleton.swift
Labels: code refactor, core functionality, database, map

#92 Added a settings page
  Cheers.xcodeproj/project.pbxproj
  Cheers/Controller/ListViewController.swift
  Cheers/Controller/MapViewController.swift
  Cheers/Controller/SettingsTableViewController.swift
  Cheers/Controller/SettingsViewController.swift
  Cheers/Model/SettingsSingleton.swift
  Cheers/View/Base.lproj/Main.storyboard
Labels: core functionality

#96 Resolves #48
  Cheers.xcodeproj/project.pbxproj
  Cheers/Controller/AboutViewController.swift
  Cheers/Controller/ContactUsViewController.swift
  Cheers/Controller/ImageLoader.swift
  Cheers/Controller/ListViewController.swift
  Cheers/Controller/NotificationsViewController.swift
  Cheers/Controller/SettingsTableViewController.swift
  Cheers/Model/HistoryQueue.swift
  Cheers/Model/SharedListsSingleton.swift
  Cheers/View/Base.lproj/Main.storyboard
Labels: core functionality

#97 Resolves #76 Fixed image in SelectedBar and map annotation to display dynamically
  Cheers/Controller/MapViewController.swift
  Cheers/Controller/SelectedBarViewController.swift
  Cheers/Model/Place.swift
  Cheers/Model/PlaceMapAnnotationViewModel.swift
  Cheers/View/PlaceMapAnnotationView.swift
Labels: UI/UX

#98 Added FavoritesTableView, Resolves#67
  Cheers.xcodeproj/project.pbxproj
  Cheers/Controller/FavoritesTableViewController.swift
  Cheers/Controller/FavoritesViewController.swift
  Cheers/Controller/SelectedBarViewController.swift
  Cheers/Model/Place.swift
  Cheers/View/Base.lproj/Main.storyboard
  Cheers/View/PlaceMapAnnotationView.xib
Labels: bug, core functionality

#99 Resolves a bunch of stuff for today's demo
  Cheers.xcodeproj/project.pbxproj
  Cheers/Controller/FavoritesTableViewController.swift
  Cheers/Controller/MapViewController.swift
  Cheers/Controller/SelectedBarViewController.swift
  Cheers/Model/FavoritesSingleton.swift
  Cheers/Model/Place.swift
  Cheers/View/PlaceMapAnnotationView.swift
  Cheers/View/PlaceMapAnnotationView.xib
Labels: bug, code refactor, core functionality, map

#115 Finished filtering functionality
  Cheers.xcodeproj/project.pbxproj
  Cheers.xcworkspace/xcuserdata/meeladdawood.xcuserdatad/UserInterfaceState.xcuserstate
  Cheers/Controller/AppDelegate.swift
  Cheers/Controller/Filter Classes/DistanceFilterOptionCell.swift
  Cheers/Controller/Filter Classes/FavoritesOnlyFilterOptionCell.swift
  Cheers/Controller/Filter Classes/FilterMenu.swift
  Cheers/Controller/Filter Classes/FilterOptionCell.swift
  Cheers/Controller/Filter Classes/FilterViewController.swift
  Cheers/Controller/Filter Classes/MaximumPriceFilterOptionCell.swift
  Cheers/Controller/Filter Classes/MinimumRatingFilterOptionCell.swift
  Cheers/Controller/ListViewController.swift
  Cheers/Controller/MapViewController.swift
  Cheers/Model/SharedListsSingleton.swift
  Cheers/Model/Singletons/ColorsSingleton.swift
  Cheers/Model/Singletons/FavoritesSingleton.swift
  Cheers/Model/Singletons/FilterSettingsSingleton.swift
  Cheers/Model/Singletons/SettingsSingleton.swift
  Cheers/Model/Singletons/SharedListsSingleton.swift
  Cheers/View/Base.lproj/Main.storyboard
  Podfile.lock
  Pods/Manifest.lock
  Pods/Pods.xcodeproj/project.pbxproj
  Pods/Pods.xcodeproj/xcuserdata/meeladdawood.xcuserdatad/xcschemes/GoogleToolboxForMac.xcscheme
  Pods/Pods.xcodeproj/xcuserdata/meeladdawood.xcuserdatad/xcschemes/Pods-Cheers.xcscheme
  Pods/Pods.xcodeproj/xcuserdata/meeladdawood.xcuserdatad/xcschemes/Pods-CheersTests.xcscheme
  Pods/Pods.xcodeproj/xcuserdata/meeladdawood.xcuserdatad/xcschemes/Pods-CheersUITests.xcscheme
  Pods/Pods.xcodeproj/xcuserdata/meeladdawood.xcuserdatad/xcschemes/leveldb-library.xcscheme
  Pods/Pods.xcodeproj/xcuserdata/meeladdawood.xcuserdatad/xcschemes/nanopb.xcscheme
  Pods/Pods.xcodeproj/xcuserdata/meeladdawood.xcuserdatad/xcschemes/xcschememanagement.plist
  Pods/Target Support Files/GoogleToolboxForMac/GoogleToolboxForMac.xcconfig
  Pods/Target Support Files/Pods-Cheers/Pods-Cheers-frameworks.sh
  Pods/Target Support Files/Pods-Cheers/Pods-Cheers-resources.sh
  Pods/Target Support Files/Pods-Cheers/Pods-Cheers.debug.xcconfig
  Pods/Target Support Files/Pods-Cheers/Pods-Cheers.release.xcconfig
  Pods/Target Support Files/Pods-CheersTests/Pods-CheersTests-frameworks.sh
  Pods/Target Support Files/Pods-CheersTests/Pods-CheersTests-resources.sh
  Pods/Target Support Files/Pods-CheersTests/Pods-CheersTests.debug.xcconfig
  Pods/Target Support Files/Pods-CheersTests/Pods-CheersTests.release.xcconfig
  Pods/Target Support Files/Pods-CheersUITests/Pods-CheersUITests-frameworks.sh
  Pods/Target Support Files/Pods-CheersUITests/Pods-CheersUITests-resources.sh
  Pods/Target Support Files/Pods-CheersUITests/Pods-CheersUITests.debug.xcconfig
  Pods/Target Support Files/Pods-CheersUITests/Pods-CheersUITests.release.xcconfig
  Pods/Target Support Files/leveldb-library/leveldb-library.xcconfig
  Pods/Target Support Files/nanopb/nanopb.xcconfig
Labels: bug, code refactor, core functionality, map

#116 Added filter functionality to map view
  Cheers/Assets.xcassets/radar.imageset/Contents.json
  Cheers/Assets.xcassets/radar.imageset/radar (1).png
  Cheers/Controller/Filter Classes/DistanceFilterOptionCell.swift
  Cheers/Controller/ListViewController.swift
  Cheers/Controller/MapViewController.swift
  Cheers/Model/Singletons/FilterSettingsSingleton.swift
  Cheers/Model/Singletons/SharedListsSingleton.swift
  Cheers/View/Base.lproj/Main.storyboard
  Credits Page.txt
Labels: UI/UX, map
